:root {
	--color-primary-high: hsl(350, 80%, 75%);
	--color-primary-middle: hsl(350, 100%, 45%);
	--color-primary-low: hsl(340, 100%, 10%);
	--color-primary-mask: hsla(355, 100%, 33%, 0.2);

	--color-secondary-high: hsl(180, 75%, 80%);
	--color-secondary-middle: hsl(180, 100%, 40%);
	--color-secondary-low: hsl(185, 100%, 10%);
	--color-secondary-mask: hsla(180, 100%, 33%, 0.2);

	--color-red-high: hsl(355, 75%, 85%);
	--color-red-middle: hsl(355, 100%, 55%);
	--color-red-low: hsl(345, 100%, 10%);
	--color-red-mask: hsla(355, 100%, 55%, 0.15);

	--color-blue-high: hsl(215, 100%, 85%);
	--color-blue-middle: hsl(210, 70%, 60%);
	--color-blue-low: hsl(215, 60%, 15%);
	--color-blue-mask: hsla(215, 100%, 45%, 0.15);

	--color-green-high: hsl(160, 74%, 85%);
	--color-green-middle: hsl(160, 100%, 45%);
	--color-green-low: hsl(170, 100%, 10%);
	--color-green-mask: hsla(160, 100%, 45%, 0.15);

	--color-yellow-high: hsl(55, 74%, 85%);
	--color-yellow-middle: hsl(50, 100%, 45%);
	--color-yellow-low: hsl(40, 100%, 10%);
	--color-yellow-mask: hsla(50, 100%, 45%, 0.2);

	--color-content-high: hsl(215, 8%, 99%);
	--color-content-middle: hsl(215, 8%, 75%);
	--color-content-low: hsl(215, 8%, 50%);

	--color-level-higher: hsl(230, 5%, 40%);
	--color-level-high: hsl(230, 5%, 25%);
	--color-level-middle: hsl(230, 5%, 15%);
	--color-level-low: hsl(230, 5%, 10%);
	--color-level-lower: hsl(230, 5%, 5%);
	--color-level-bottom: hsl(230, 5%, 1%);
	--color-level-mask: hsla(240, 2%, 8%, 0.4);
	--color-level-scrim: hsla(240, 2%, 8%, 0.8);

	--font-family: '';

	--font-weight-regular: 400;
	--font-weight-medium: 700;
	--font-weight-bold: 800;

	--size-container-main: 120rem;
	--size-container-content: 88rem;

	--size-container-gutter: 0.8rem;

	--size-space-xxs: 0.4rem;
	--size-space-xs: 0.8rem;
	--size-space-s: 1.6rem;
	--size-space-m: 2.4rem;
	--size-space-l: 4rem;
	--size-space-xl: 8rem;
	--size-space-xxl: 16rem;

	--radius-small: 0.4rem;
	--radius-medium: 1.2rem;
	--radius-large: 8rem;

	--transition-primary: cubic-bezier(0, 1, 0.25, 1); // Punchy
	--transition-secondary: cubic-bezier(0.5, 2, 0.5, 0.75); // Bouncy
}
