//	==========
//	BREAKPOINTS
//	==========
$desktop_large: 1400px;
$desktop_small: 1150px;

$tablet_large: 960px;
$tablet_small: 800px;

$phone_large: 600px;
$phone_small: 475px;

//	==========
//	UTILITY
//	==========
@mixin Constrain($width: 960px) {
	width: 100%;
	height: auto;
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
}

//	==========
//	TYPOGRAPHY
//	==========
@mixin textSpace($space: 0) {
	margin-top: $space * 1em;
	margin-bottom: $space * 1em;
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@mixin LargeTitle($space: 0) {
	font-size: 4rem;
	line-height: 4.4rem;
	letter-spacing: -0.01em;
	font-weight: var(--font-weight-bold);
	color: var(--color-content-high);
	@include textSpace($space);
}
@mixin LargeSubtitle($space: 0) {
	font-size: 4rem;
	line-height: 4.4rem;
	letter-spacing: -0.01em;
	font-weight: var(--font-weight-regular);
	color: var(--color-content-middle);
	@include textSpace($space);
}
@mixin SmallTitle($space: 0) {
	font-size: 2.8rem;
	line-height: 3.2rem;
	letter-spacing: -0.01em;
	font-weight: var(--font-weight-bold);
	color: var(--color-content-high);
	@include textSpace($space);
}
@mixin SmallSubtitle($space: 0) {
	font-size: 2.8rem;
	line-height: 3.2rem;
	letter-spacing: -0.01em;
	font-weight: var(--font-weight-regular);
	color: var(--color-content-middle);
	@include textSpace($space);
}
@mixin Headline($space: 0) {
	font-size: 2rem;
	line-height: 2.8rem;
	letter-spacing: 0.005em;
	font-weight: var(--font-weight-medium);
	color: var(--color-content-high);
	@include textSpace($space);
}
@mixin Content($space: 0) {
	font-size: 2rem;
	line-height: 2.8rem;
	font-weight: var(--font-weight-regular);
	color: var(--color-content-middle);
	@include textSpace($space);
	small {
		font-size: 1.4rem;
	}
}
@mixin Label($space: 0) {
	font-size: 1.4rem;
	line-height: 2.8rem;
	letter-spacing: 0.1em;
	font-weight: var(--font-weight-bold);
	color: var(--color-content-low);
	text-transform: uppercase;
	@include textSpace($space);
}
